<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>

<body>
<h2>All users</h2>
<table>
    <thead  class="table-header">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <!--        <td th:text="${user.getRoles()}"></td>-->
        <td> <p th:each ="role : ${user.getRoles()}" th:text=" ${role.name}"></p></td>
        <td>
            <form th:method="GET" th:action="@{/editUser/{id}(id=${user.getId()})}">
                <button>Edit user</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/deleteUser/{id}(id=${user.getId()})}">
                <input type="hidden" value="${user}">
                <button type="submit">Delete User</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br><br>

<input type="button" value="Add new user"
       onclick="window.location.href='addNewUser'">

<br>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>