<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<h2>Add new user</h2>
<br>
<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">

    <label for="username"> Username </label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <div style="color: red" th:text="${usernameError}"/>
    <br><br>

    <label for="password"> Password </label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br><br>

    <label for="confirm_password"> Confirm Password </label>
    <input type="password" th:field="*{confirmPassword}" id="confirm_password">
    <div style="color: red" th:text="${passwordError}"/>
    <br><br>

    <label for="firstName"> First Name </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br><br>

    <label for="lastName"> Last Name </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br><br>

    <label for="age"> Age </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br><br>

    <label for="email"> Email </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br><br>

    <label for="roles"> Roles </label>
    <!--<select multiple name="roles" id="roles">-->
    <!--    <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"/>-->
    <!--</select>-->
    <!--    <br><br>-->

    <br><br>
    <p><input type="checkbox" name="roles" id="roles"
              th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"
              th:field="*{roles}"></p>
    <br><br>

    <input type="submit" value="Add new user"/>

</form>

</body>
</html>