<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome at spring boot security page!</h1>
<br>
<h2>User info</h2>

<p>Username: <span th:text = "${user.username}"></span></p>
<p>Password: <span th:text = "${user.password}"></span></p>
<p>First name: <span th:text = "${user.firstName}"></span></p>
<p>Last name: <span th:text = "${user.lastName}"></span></p>
<p>Age: <span th:text = "${user.age}"></span></p>
<p>Email: <span th:text = "${user.email}"></span></p>
<p>Roles: <p th:each ="role : ${user.getRoles()}" th:text=" ${role.name}"></p></p>


<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>